.good-card {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 280px;
    height: 560px;
    padding: 15px;
    margin: auto;
    border-radius: 10px;
    background-color: rgb(238, 239, 240);
}

.good-description {
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #e2e2e2;
    border-radius: 5px;
    width: 280px;
    height: 90px;
    margin-top: 300px;
    padding-bottom: 20px;
}

.card-number {
    display: flex;
    margin-left: 20px;
    margin-top: 1px;
}

.good-card-top {
    background-color: #e2e2e2;
    white-space: nowrap;
    width: 100%;
    border-radius: 5px;
}

.good-card-bottom {
    margin-top: 10px;
    margin-left: 65px;
}

.good-image-container {
    position: absolute;
    width: 280px;
    height: 500px;
}

.good-image-container img {
    border-radius: 5px;
}

.good-description a:link {
    color: black;
    text-decoration: none;
}

.good-description a:visited {
    color: black;
    text-decoration: none;
}

.good-description a:hover {
    color: black;
    text-decoration: underline;
}

.good-description a:active {
    color: black;
    text-decoration: none;
}

.good-description img:hover {
    border-style: groove;
    border-color: rgb(204, 204, 204);
}
