.nav-link {
    background-color: #e6e6e6;
    color: black;
    padding: 15px 25px;
    text-decoration: none;
    text-align: center;
    justify-content: center;
    align-items: center;
    border-radius: 20%;
    width: 50px;
    height: 15px;
    line-height: 15px;
    display: flex;
  }
  
  .nav-link:hover {
    background-color: #434446;
  }