nav {
    background: linear-gradient(90deg, rgb(238, 239, 240) 0%, rgb(238, 239, 240) 100%);
    opacity: 90%;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.nav-container {
    display: flex;
    align-items: center;
    height: 80px;
    max-width: 1500px;
}

.navbar-logo {
    position: absolute;
    color: #fff;
    margin-left: -10%;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    display: flex;
    align-items: center;
    display: inline-block;
}

.logo {
    display: inline-block;
}

.logo-text {
    position: absolute;
    color: black;
}

.logo-img {
    margin-left: 110px;
    width: 80px;
    height: 50px;

}

.main-navigation {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    margin-right: 2rem;
}