nav {
    background: linear-gradient(90deg, rgb(27, 38, 41) 0%, rgb(26, 23, 23) 100%);
  opacity: 90%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}
.nav-container {
    display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
  max-width: 1500px;
}

.main-navigation {
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 10px;
    list-style: none;
    text-align: center;
    width: 60vw;
    justify-content: center;
    margin-right: 2rem;
  }
  
  .main-navigation li {
    height: 80px;
  }