.blog {
  padding-top: 20%;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-gap: 100px;
    justify-content: center;
    width: 100%;
}

.main-btn {
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  width:8%; 
  height: 10%;
  padding: 10px;
  margin: auto;
  margin-top: 4%;
}

.main-text-content {
  position: absolute;
  text-decoration: none;
  text-align: center;
  justify-content: center;
  align-items: center;
  width:100%; 
  padding: 10px;
  margin: auto;
  margin-top: 15%;
}

.catalog-items {
  margin-top: 5%;
  margin-bottom: 15%;
  display: grid;
  grid-template-columns: repeat(4, auto);
  grid-gap: 100px;
  justify-content: center;
  width: 100%;
}

.filters {
  min-width: 100%;
  padding: 10px;
  padding-left: 3%;
  background-color: rgb(228, 228, 228);
}

.apply-button-dropdown {
  position: absolute;
  margin-top: -43px;
  margin-left: 35%;
  width: 120px;
  height: 35px;
  background-color: #f3f3f3;
  border: 0px;
  border-radius: 5%;

}

.apply-button-dropdown:hover {
  background-color: #434446;
}

.filter-panel {
  display: grid;
  grid-template-columns: repeat(2, auto);
  width: 35%;
}

/* product page */

.product-details {
width: 96%;
height: 700px;
background-color: #f3f3f3;
margin-top: 20px;
margin-left: 2%;
border-radius: 1%;
}

.product-info {
  margin-left: 50%;
  margin-top: 3%;
  width: 83%;
  height: 400px;
  border-radius: 1%;
  background-color: #e6e6e6;
  padding: 2%;
}

.charactersitics {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 10px;
  width: 30%;
}

.order-info {
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin: 10px;
}

.count-input {
  padding-left: 10px;
  height: 35px;
  width: 280px;
  background-color: white;
  border: 0px;
  border-radius: 5%;
}

.price-block {
  width: 15%;
  float: left;
  display: grid;
  grid-template-columns: repeat(2, auto);
  font-size: 35px;
  font-weight:bold;
  margin-bottom: 10px;
  margin-top: 5%;
}

.actions {
  width: calc((100% - 600px * 2) / 2);
  float: right;
  display: grid;
  grid-template-columns: repeat(2, auto);
  margin-top: 7%;
  margin-right: 10%;
  padding: 10px;
}


